.chip-container {
        background-color: #efefef;
        padding: 5px 10px;
        border-radius: 30px;

        .chip-color {
            height: 10px;
            width: 10px;
            background-color: #ffb9b9;
            border-radius: 50%;
            display: inline-block;
            margin-bottom: 3px;
        }

        .chip-item {
            font-size: 12px;
            padding-left: 5px;
            padding-right: 5px;
            margin-bottom: 3px;
        }
    }
