.page-header-wrapper {
    display: flex;
    flex-direction: row;
    font-family: 'Roboto Slab';

    @media screen and (min-width:700px) and (max-width:1200px){
        flex-direction: column
    }

    @media only screen and (max-width: 700px) {
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    @media only screen and (min-width: 700px){
        z-index: 9;
        width: 100%;
        position: fixed;
        background-color: #f7f7f7;
    }

    .nav-bar-logo {
        
        display: flex;
        margin: 0em 1em;

        @media only screen and (max-width: 1200px) {
            margin-left: auto;
            margin-right: auto;
        }

        .cursor-pointer {
            cursor: pointer;
        }
    
        .title-logo {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: 2%;
            margin-right: 2%;
        }
    
        .page-title {
            margin-right: 10px;
            margin-left: 10px;
            min-width: 100%;
        }
    
        .search-panel {
            margin-top: auto;
            margin-bottom: auto;
            min-width: 50%;

            @media only screen and (max-width: 1200px) {
                margin-left: auto;
                margin-right: auto;
            }
    
            .search-bar-wrapper {
                border-radius: 5px;
                border: none;
                background-color: #fff;
                box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);;
            }
        }
    }
}