.api-statistics-wrapper {
    display: flex;
    position: relative;
    margin-left: 3em;
    margin-right: 3em;
    justify-content: center;
    font-family: 'Roboto Slab';

    @media only screen and (max-width: 600px) {
        display: flex; 
        flex-direction: column;
        position: relative;
        margin: 1em;
    }

    p {
        background-color: #efefef;
        padding: 0.5em;
        margin-right: 1em;

        @media only screen and (max-width: 600px) {
            margin-bottom: 0;
        }
    }
}